<ng-template #updatePostModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Actualizar post</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <form [formGroup]="postUpdateForm" (ngSubmit)="updatePost()">
        <div class="form-group">
          <label for="description">Descripcion</label>
          <textarea id="description" rows="5" formControlName="extract" class="form-control"></textarea>
          <div *ngIf="postUpdateForm.controls['extract'].invalid && postUpdateForm.controls['extract'].dirty">
            <div class="alert alert-danger" role="alert" *ngIf="postUpdateForm.controls['extract'].errors.required">
              Extracto del post requerido
            </div>
          </div>
        </div>

        <div class="form-group text-right" *ngIf="!isLoading">
          <button type="submit" class="btn btn-primary" [disabled]="postUpdateForm.invalid">
            Actualizar
          </button>
        </div>
        <div class="form-group text-right" *ngIf="isLoading">
          <button type="button" class="btn btn-primary" disabled>
            <div class="spinner-border text-danger" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
