<div class="container-fluid">
  <div class="row h-100 text-center">
    <div class="col-12 d-flex align-self-center offset-md-3 col-md-6 offset-lg-4 col-lg-4 text-center">
      <div class="mt-5">
        <div>
          <img class="img-fluid w-75" src="assets/images/useit-logo.png" alt="">
        </div>
        <div class="mt-3">
          <form [formGroup]="loginForm">
            <div class="form-group">
              <input type="text" formControlName="email" class="form-control" placeholder="E-mail" required>
              <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].dirty">
                <div class="alert alert-danger" role="alert" *ngIf="loginForm.controls['email'].errors.required">
                  El email es requerido
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="loginForm.controls['email'].errors.email">
                  Esto no es un email valido
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
              <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].dirty">
                <div class="alert alert-danger" role="alert" *ngIf="loginForm.controls['password'].errors.required">
                  La contraseña es requerida
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="loginForm.controls['password'].errors.minlength">
                  La contraseña debe contener 6 o mas caracteres
                </div>
              </div>
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-block btn-success" [disabled]="loginForm.invalid" (click)="login()">
                Login
              </button>
              <div class="alert alert-danger" role="alert" *ngIf="isError">
                {{ errorMsg }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
