<ng-template #updateModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Actualizar mi informacion</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <form [formGroup]="userUpdateForm" (ngSubmit)="updateUser()">
        <div class="form-group">
          <label for="username">Nombre de usuario</label>
          <input id="username" type="text" formControlName="username" class="form-control">
          <div *ngIf="userUpdateForm.controls['username'].invalid && userUpdateForm.controls['username'].dirty">
            <div class="alert alert-danger" role="alert" *ngIf="userUpdateForm.controls['username'].errors.required">
              Nombre de usuario requerido
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="birthdate">Fecha de nacimiento</label>
          <input id="birthdate" type="date" formControlName="birthdate" class="form-control">
          <div *ngIf="userUpdateForm.controls['birthdate'].invalid && userUpdateForm.controls['birthdate'].dirty">
            <div class="alert alert-danger" role="alert" *ngIf="userUpdateForm.controls['birthdate'].errors.required">
              Fecha de nacimiento requerida
            </div>
          </div>
        </div>
        <select  id="city" class="form-control" formControlName="city">
          <option value="Cali">Cali</option>
          <option value="Medellin">Medellin</option>
          <option value="Bogota">Bogota</option>
        </select>
        <div *ngIf="userUpdateForm.controls['city'].invalid && userUpdateForm.controls['city'].dirty">
          <div class="alert alert-danger" role="alert" *ngIf="userUpdateForm['city'].errors.required">
            La ciudad es requerida
          </div>
        </div>
        <div class="form-group">
          <label for="description">Descripcion</label>
          <textarea id="description" rows="5" formControlName="description" class="form-control"></textarea>
          <div *ngIf="userUpdateForm.controls['description'].invalid && userUpdateForm.controls['description'].dirty">
            <div class="alert alert-danger" role="alert" *ngIf="userUpdateForm.controls['description'].errors.required">
              Descripcion requerida
            </div>
          </div>
        </div>

        <div class="form-group text-right" *ngIf="!isLoading">
          <button type="submit" class="btn btn-primary" [disabled]="userUpdateForm.invalid">
            Actualizar
          </button>
        </div>
        <div class="form-group text-right" *ngIf="isLoading">
          <button type="button" class="btn btn-primary" disabled>
            <div class="spinner-border text-danger" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
