<div class="container mt-5">
  <div class="row">
    <div class="col-12 px-3 px-md-5">
      <form [formGroup]="registerForm" (ngSubmit)="validateIfEmailAlreadyTaken()">
        <div class="form-group">
          <label for="username">Nombre de usuario</label>
          <input id="username" type="text" class="form-control" formControlName="username">
          <div *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].dirty">
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.controls['username'].errors.required">
              El nombre de usuario es requerido
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="birthdate">Fecha de nacimiento</label>
          <input id="birthdate" type="date" class="form-control" formControlName="birthdate">
          <div *ngIf="registerForm.controls['birthdate'].invalid && registerForm.controls['birthdate'].dirty">
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.controls['birthdate'].errors.required">
              Fecha de nacimiento requerida
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="city">Ciudad</label>
          <select  id="city" class="form-control" formControlName="city">
            <option value="Cali">Cali</option>
            <option value="Medellin">Medellin</option>
            <option value="Bogota">Bogota</option>
          </select>
          <div *ngIf="registerForm.controls['city'].invalid && registerForm.controls['city'].dirty">
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.controls['city'].errors.required">
              La ciudad es requerida
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Descripcion (¿A que se dedica?)</label>
          <textarea id="description"  rows="5" class="form-control" formControlName="description"></textarea>
          <div *ngIf="registerForm.controls['description'].invalid && registerForm.controls['description'].dirty">
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.controls['description'].errors.required">
              La descripcion es requerida
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input id="email" type="email" class="form-control" formControlName="email">
          <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].dirty">
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.controls['email'].errors.required">
              El email es requerido
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.controls['email'].errors.email">
              Esto no es un email valido
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input id="password" type="password" class="form-control" formControlName="password">
          <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].dirty">
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.controls['password'].errors.required">
              La contraseña es requerida
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.controls['password'].errors.minlength">
              La contraseña debe tener minimo 6 caracteres
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="picture">Foto de perfil</label>
          <input id="picture" type="file" class="form-control" accept="image/jpeg,image/png"  (change)="onFileChange($event)">
        </div>
        <div class="form-group">
          <progressbar [value]="percentage" type="warning" [striped]="true" [animate]="true">{{ percentage }}%</progressbar>
        </div>
        <div class="form-group text-center">

          <div *ngIf="!isLoading">
            <button type="submit" class="btn btn-success w-50" [disabled]="registerForm.invalid">
              Registrarse
            </button>
          </div>

          <div *ngIf="isLoading">
            <button type="button" class="btn btn-success w-50" disabled>
              <div class="spinner-border text-danger" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
