<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-12 mt-5 d-flex justify-content-center">
      <img class="img-fluid w-75" src="assets/images/home-image2.png" alt="">
    </div>
  </div>
</div>
