<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="col-12 mt-5 d-flex justify-content-center">
        <img class="img-fluid w-75" src="assets/images/404_page_cover.jpg" alt="">
      </div>
    </div>
  </div>
</div>
