<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body text-center" *ngIf="userInfo !== null">
          <div>
            <div class="picture-container mx-auto w-50 d-flex mb-4">
              <div class="d-md-none">
                <circle-progress
                  [percent]="percentage"
                  [radius]="50"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="4"
                  [outerStrokeColor]="'#78C000'"
                  [innerStrokeColor]="'#C7E596'"
                  [animation]="true"
                  [animationDuration]="300"
                  *ngIf="updateLoading"></circle-progress>
              </div>
              <div class="d-none d-md-flex">
                <circle-progress
                  [percent]="percentage"
                  [radius]="80"
                  [outerStrokeWidth]="16"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#78C000'"
                  [innerStrokeColor]="'#C7E596'"
                  [animation]="true"
                  [animationDuration]="300"
                  *ngIf="updateLoading"></circle-progress>
              </div>
              <img [src]="userInfo.pictureUrl"   alt="profile image" *ngIf="!updateLoading">
              <div class="button-picture-container text-center">
                <button class="change-picture-button btn btn-link rounded-circle d-flex justify-content-center align-items-center" (click)="profileInput.click()">
                  <fa-icon [icon]="faCamera" size="2x">
                  </fa-icon>
                </button>
                <input type="file" accept="image/jpeg,image/png" (change)="onFileChange($event)"  #profileInput hidden>
              </div>
            </div>
            <h4>{{ userInfo.username }}</h4>
            <h5>Fecha de nacimiento: {{ userInfo.birthdate }}</h5>
            <h5>Ciudad: {{ userInfo.city }}</h5>
          </div>
          <p class="mt-2 card-text"> {{ userInfo.description }}</p>
          <button class="btn btn-info mt-3 mb-4" (click)="showUpdateModal()">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <div class="border-top pt-3">
            <div class="row">
              <div class="col-4">
                <h6>4354</h6>
                <p>Post</p>
              </div>
              <div class="col-4">
                <h6>455K</h6>
                <p>Followers</p>
              </div>
              <div class="col-4">
                <h6>34K</h6>
                <p>Likes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-update-profile-modal (userUpdateEvent)="getUserInfo()"></app-update-profile-modal>


