.picture-container{
  position: relative;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
  border-radius: 50%;
}

.circle-progress {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-picture-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.change-picture-button{
  height: 100%;
  width: 100%;
  opacity: 0;
  &:hover{
    background-color: rgba(0,0,0,0.25);
    opacity: 1;
  }
}
