<ng-template #postModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Añadir post</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <form [formGroup]="postForm" (ngSubmit)="validateIfMultimediaCharge()">
        <div class="form-group">
          <label for="extract">Post</label>
          <textarea  id="extract" rows="5" formControlName="extract" class="form-control"></textarea>
          <div *ngIf="postForm.controls['extract'].invalid && postForm.controls['extract'].dirty">
            <div class="alert alert-danger" role="alert" *ngIf="postForm.controls['extract'].errors.required">
              El extracto del post es requerido
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="multimedia">Multimedia del post (Imagen o video opcional)</label>
          <input id="multimedia" type="file" accept="image/jpeg,image/png,video/mp4" (change)="onFileChange($event)">
        </div>
        <div class="form-group">
          <progressbar [value]="percentage" type="warning" [striped]="true" [animate]="true">{{ percentage }}%</progressbar>
        </div>
        <div class="form-group text-right" *ngIf="!isLoading">
          <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid || !correctFile">
            Publicar
          </button>
        </div>
        <div class="form-group text-right" *ngIf="isLoading">
          <button type="button" class="btn btn-primary" disabled>
            <div class="spinner-border text-danger" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
