<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 p-md-4 bg-light">
      <div class="mb-3">
        <button class="btn btn-success" (click)="showPostModal()">Añadir post</button>
        <app-add-post-modal (addPostEvent)="addPostInRenderPost($event)"></app-add-post-modal>
        <app-update-post-modal (postUpdateEvent)="updateRenderPost($event)"></app-update-post-modal>
      </div>
      <div class="row mb-5" *ngFor="let post of posts">
        <div class="col-12">
          <div class="row justify-content-center">
            <div class="col-md-2 d-flex align-items-start">
              <img [src]="post.transmitter.pictureUrl" class="img-fluid profile-home-post-img rounded-circle" alt="">
            </div>
            <div class="col-12 col-md-10 p-3 px-md-0 py-md-3">
              <div class="row">
                <div class="col-12 d-flex justify-content-between">
                  <strong>{{ post.transmitter.username }}</strong>
                  <div *ngIf="userInfo !== null">
                    <div *ngIf="userInfo.id === post.transmitter.id">
                      <button class="btn btn-primary mr-2" (click)="showUpdateModal(post)">
                        <fa-icon [icon]="faEdit"></fa-icon>
                      </button>
                      <button class="btn btn-danger mr-2" (click)="deletePost(post)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <span>{{ post.created_at }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-3">
                  <p>{{ post.extract }}</p>
                </div>
              </div>
            </div>
            <div class="col-12 offset-md-2 col-md-10">
              <img class="img-fluid w-100" [src]="post.multimediaUrl" alt="" *ngIf="post.multimediaType === 'image/jpeg' || post.multimediaType === 'image/png'">
              <div class="embed-responsive embed-responsive-16by9" *ngIf="post.multimediaType === 'video/mp4'">
                <video class="embed-responsive-item"  controls>
                  <source [src]="post.multimediaUrl" type="video/mp4">
                </video>
              </div>
            </div>
            <div class="col-12 offset-md-2 col-md-10">
              <div class="mt-3">
                <button class="btn btn-link" (click)="addLike(post)" [disabled]="isLoadingLike">
                  <fa-icon [icon]="faHearthEmpty" size="2x"></fa-icon>
                </button>
                <!--<a>
                  <fa-icon [icon]="faHearth" size="2x"></fa-icon>
                </a>-->
                <a class="ml-3">{{ post.likes.length }}</a>
              </div>
            </div>
            <div class="col-12 offset-md-2 col-md-10 mt-3">
              <div class="row justify-content-center mb-3" *ngFor="let comment of post.comments">
                <div class="col-md-2 d-flex align-items-center">
                  <img [src]="comment.pictureUrl" class="img-fluid profile-home-comment-img rounded-circle" alt="">
                </div>
                <div class="col-12 col-md-10">
                  <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                      <strong>{{ comment.username }}</strong>
                      <span>{{ comment.created_at }}</span>
                    </div>
                  </div>

                  <p>
                    {{ comment.comment }}
                  </p>
                </div>
              </div>
              <div class="col-12 mt-4">
                <form (ngSubmit)="addComment(post)" ngNativeValidate>
                  <textarea name="" id="" rows="2" placeholder="Escribe tu comentario" class="form-control" [(ngModel)]="commentPost" [ngModelOptions]="{standalone: true}" required></textarea>
                  <div class="mt-2 text-right">
                    <button type="submit" class="btn btn-primary" [disabled]="isLoadingComment">Comentar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
