.profile-home-post-img{
  @media (min-width: 769px) {
    width: 100%;
    height: 35%;
    object-fit: cover;
  }

}

.profile-home-comment-img{
  @media (min-width: 769px) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
